<% similarArtists.forEach(function(artist){ %>
<ul class="faveArtists">
<li><%= artist.name %></li>
<a href="/favorites/delete/<%= artist.id %>" class="favorites">Remove from List</a>
</ul>
<%})%>
<a href="/">Back to Search</a></br>
<a href="/favorites">Bands I Saved</a>
