.search {
  align-items: center;
}
/* html {

	height: 100%;
	width: 100%;
  background-size: cover;
  background-image: url("/images/record.gif");
} */

html {
  /* height: 100%;
  width: 100%; */
  background: linear-gradient(to bottom, red, purple);
  background-size: cover;

}
img {
  height: 500px;
  width: 500px;
}
body {
  height: 100%;
  width: 100%;
  /* background-color: #9e9e9e; */
  background: linear-gradient(to bottom, red, purple);
  background-size: cover;
  background-repeat: no-repeat;
}
.body {
  background-image: url("/images/record.gif");
  /* background-size: cover; */
  /* background-attachment: fixed;
  position: relative; */
}
/* nav {
  align-items: center;
  width: 50%;
  height: 10%;
} */

.form-control {
  width: 70%;
  align-items: center;
}
.artistName {
  color: black;
  font-size: 25pt;
  text-transform: uppercase;
  }


.similar {
  color: black;
  font-size: 20pt;
  /* display: inline; */
  text-align: center;
  font-family: 'El Messiri', sans-serif;
}

.favorites {
  height: 30px;
  width: 200px;
  color: silver;
  background-color: black;
  margin-left: 80px;
  font-size: 10pt;
  /* align-items: center; */
}

li {
  list-style: none;
}

a {
  font-size: 15pt;
  color: silver;
}
h1 {
  text-align: center;
  font-size: 40pt;
  font-family: 'Aclonica', sans-serif;
  text-shadow: 2px 2px white;
}
h2 {
  text-align: center;
  font-size: 27pt;
  font-family: 'El Messiri', sans-serif;
  text-shadow: 2px 2px black;
}
footer {
  position: absolute;
  bottom: 3;
  margin-left: 35%;
}
.circle {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
p {
  font-family: 'El Messiri', sans-serif;
  font-size: 18pt;
}
